@model CumulutiveProject1.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<head>
    <style>

        nav {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
        }
        
        .dellink {
            color: #dd1111;
        }

    </style>
</head>

<nav>
    <a class="navlink" href="/Teacher/List">Back to Teachers</a>
    <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
</nav>

<h2>@Model.TeacherFname @Model.TeacherLname</h2>
<h3>Information</h3>

<ul>
    <li><p>ID: @Model.TeacherId</p> </li>
    <li><p>Employee Number: @Model.EmployeeNumber</p></li>
    <li><p>Hire Date: @Model.HireDate</p></li>
    <li><p>Salary: @Model.Salary</p></li>
</ul>



