@model CumulutiveProject1.Models.Teacher
@{
    ViewBag.Title = "Show";
}


<h2>@Model.TeacherFname @Model.TeacherLname</h2>
<h3>Information</h3>

<ul>
    <li><p>ID: @Model.TeacherId</p> </li>
    <li><p>Employee Number: @Model.EmployeeNumber</p></li>
    <li><p>Hire Date: @Model.HireDate</p></li>
    <li><p>Salary: @Model.Salary</p></li>
</ul>



